<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>JEuclid Render Testsuite</display-name>
  <servlet>
    <servlet-name>jeuclid-testsuite</servlet-name>
    <display-name>JEuclid Testsuite</display-name>
    <servlet-class>net.sourceforge.jeuclid.testsuite.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jeuclid-testsuite</servlet-name>
    <url-pattern>jeuclid-testsuite2/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jeuclid-testsuite3</servlet-name>
    <display-name>JEuclid Testsuite 3</display-name>
    <servlet-class>net.sourceforge.jeuclid.testsuite.Servlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jeuclid-testsuite3</servlet-name>
    <url-pattern>jeuclid-testsuite3/*</url-pattern>
  </servlet-mapping>
</web-app>
