<?xml version="1.0" encoding="UTF-8"?>
<!--
	This configuration file was written by the eclipse-cs plugin configuration editor
-->
<!--
Checkstyle-Configuration: JEuclid CheckStyle
Description:

-->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <property name="severity" value="warning"/>
    <module name="SuppressionCommentFilter"/>
    <module name="TreeWalker">
        <module name="FileContentsHolder"/>
        <module name="JavadocType">
            <property name="scope" value="protected"/>
            <property name="severity" value="error"/>
            <property name="versionFormat" value="\$Revision.* \$$"/>
        </module>
        <module name="JavadocMethod">
            <property name="scope" value="protected"/>
            <property name="allowUndeclaredRTE" value="true"/>
            <property name="severity" value="error"/>
        </module>
        <module name="JavadocVariable">
            <property name="scope" value="protected"/>
            <property name="severity" value="error"/>
        </module>
        <module name="JavadocStyle">
            <property name="scope" value="protected"/>
            <property name="severity" value="error"/>
        </module>
        <module name="RegexpHeader">
            <property name="header" value="\/\*\n * Copyright \d\d\d\d( - \d\d\d\d)? JEuclid, http://jeuclid.sf.net\n *\n * Licensed under the Apache License, Version 2.0 \(the &quot;License&quot;\);\n * you may not use this file except in compliance with the License.\n * You may obtain a copy of the License at\n *\n *      http://www.apache.org/licenses/LICENSE-2.0\n *\n * Unless required by applicable law or agreed to in writing, software\n * distributed under the License is distributed on an &quot;AS IS&quot; BASIS,\n * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n * See the License for the specific language governing permissions and\n * limitations under the License.\n */\n\n/\* .*\$Id.* \$ \*/\n\n"/>
            <property name="severity" value="error"/>
        </module>
        <module name="AbstractClassName"/>
        <module name="ConstantName"/>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
        <module name="UnusedImports"/>
        <module name="RedundantImport"/>
<!-- Unfortunately this differs from the default eclipse import order. -->
<!--        <module name="ImportOrder">
            <property name="groups" value="java,javax,net,org,com"/>
            <property name="ordered" value="true"/>
            <property name="separated" value="true"/>
        </module> -->
        <module name="IllegalImport"/>
        <module name="AvoidStarImport"/>
        <module name="AnonInnerLength"/>
        <module name="ExecutableStatementCount"/>
        <module name="FileLength"/>
        <module name="LineLength">
            <property name="severity" value="ignore"/>
        </module>
        <module name="MethodLength"/>
        <module name="ParameterNumber"/>
        <module name="EmptyForInitializerPad"/>
        <module name="EmptyForIteratorPad"/>
        <module name="NoWhitespaceAfter">
            <property name="severity" value="ignore"/>
        </module>
        <module name="NoWhitespaceBefore"/>
        <module name="OperatorWrap"/>
        <module name="MethodParamPad"/>
        <module name="ParenPad"/>
        <module name="TabCharacter"/>
        <module name="TypecastParenPad"/>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround">
          <property name="tokens" value="ASSIGN,BAND,BAND_ASSIGN,BOR,BOR_ASSIGN,BSR,BSR_ASSIGN,BXOR,BXOR_ASSIGN,COLON,DIV,DIV_ASSIGN,EQUAL,GE,GT,LAND,LCURLY,LE,LITERAL_ASSERT,LITERAL_CATCH,LITERAL_DO,LITERAL_ELSE,LITERAL_FINALLY,LITERAL_FOR,LITERAL_IF,LITERAL_RETURN,LITERAL_SYNCHRONIZED,LITERAL_TRY,LITERAL_WHILE,LOR,LT,MINUS,MINUS_ASSIGN,MOD,MOD_ASSIGN,NOT_EQUAL,PLUS,PLUS_ASSIGN,QUESTION,RCURLY,SL,SLIST,SL_ASSIGN,SR,SR_ASSIGN,STAR,STAR_ASSIGN,LITERAL_ASSERT,TYPE_EXTENSION_AND"/>
        </module>
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>
        <module name="AvoidNestedBlocks"/>
        <module name="EmptyBlock"/>
        <module name="LeftCurly"/>
        <module name="NeedBraces"/>
        <module name="RightCurly"/>
        <module name="AvoidInlineConditionals"/>
        <module name="CovariantEquals"/>
        <module name="DefaultComesLast"/>
        <module name="DeclarationOrder"/>
        <module name="DoubleCheckedLocking"/>
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="ExplicitInitialization"/>
        <module name="FallThrough"/>
        <module name="FinalLocalVariable"/>
        <module name="HiddenField"/>
        <module name="IllegalInstantiation"/>
        <module name="IllegalCatch"/>
        <module name="IllegalThrows"/>
        <module name="IllegalToken">
            <property name="severity" value="ignore"/>
        </module>
        <module name="IllegalTokenText"/>
        <module name="IllegalType"/>
        <module name="InnerAssignment"/>
        <module name="JUnitTestCase"/>
        <module name="MagicNumber"/>
        <module name="MissingCtor"/>
        <module name="MissingSwitchDefault"/>
        <module name="ModifiedControlVariable"/>
        <module name="MultipleStringLiterals"/>
        <module name="MultipleVariableDeclarations"/>
        <module name="NestedIfDepth"/>
        <module name="NestedTryDepth">
            <property name="max" value="2"/>
        </module>
        <module name="PackageDeclaration"/>
        <module name="ParameterAssignment"/>
        <module name="RedundantThrows"/>
        <module name="RequireThis"/>
        <module name="ReturnCount"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StringLiteralEquality"/>
        <module name="SuperClone"/>
        <module name="SuperFinalize"/>
        <module name="ArrayTrailingComma"/>
        <module name="UnnecessaryParentheses"/>
        <module name="DesignForExtension">
          <property name="severity" value="ignore"/>
        </module>
        <module name="FinalClass"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="InterfaceIsType"/>
        <module name="MutableException"/>
        <module name="ThrowsCount">
          <property name="max" value="3"/>
        </module>
        <module name="VisibilityModifier"/>
        <module name="BooleanExpressionComplexity"/>
        <module name="ClassDataAbstractionCoupling"/>
        <module name="ClassFanOutComplexity"/>
        <module name="CyclomaticComplexity"/>
        <module name="JavaNCSS"/>
        <module name="NPathComplexity"/>
        <module name="Regexp"/>
        <module name="UpperEll"/>
        <module name="TrailingComment">
          <property name='legalComment' value='^\$.*\$$'/> 
        </module>
        <module name="TodoComment">
          <property name="severity" value="ignore"/>
        </module>
        <module name="RequiredRegexp"/>
        <module name="FinalParameters"/>
        <module name="DescendantToken"/>
        <module name="ArrayTypeStyle"/>
        <module name="GenericIllegalRegexp">
          <property name='format' value='\@author'/>
          <property name="severity" value="error"/>
        </module>
    </module>
    <module name="Translation"/>
    <module name="NewlineAtEndOfFile"/>
</module>
